@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,87.5,200..1000;1,6..12,87.5,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --angle-0: 0deg;
  --angle-180: 180deg;
}

@theme inline {
  --color-bg: var(--bg-color, #fff4ea);
  --color-text: var(--text-color, #333333);
  --color-card-bg-1: var(--card-bg-color-1, #c96868);
  --color-card-text-1: var(--card-text-color-1, #fff);
  --color-card-bg-2: var(--card-bg-color-2, #7eacb5);
  --color-card-text-2: var(--card-text-color-2, #fff);
  --color-card-bg-3: var(--card-bg-color-3, #fadfa1);
  --color-card-text-3: var(--card-text-color-3, #333333);

  --bg-sunrise-gradient: var(
    --sunrise-gradient,
    linear-gradient(#c96868, #fadfa1, #fff4ea)
  );
  --bg-sunset-gradient: var(
    --sunset-gradient,
    linear-gradient(#1b1a55, #535c91, #9290c3)
  );
}

:root {
  --sunrise-gradient: linear-gradient(#c96868, #ff9a8b, #fadfa1);
  --sunset-gradient: linear-gradient(#1b1a55, #535c91, #9290c3);
}

.light {
  --bg-color: #fff4ea;
  --text-color: #333333;
  --card-bg-color-1: #c96868;
  --card-text-color-1: #333333;
  --card-bg-color-2: #7eacb5;
  --card-text-color-2: #333333;
  --card-bg-color-3: #fadfa1;
  --card-text-color-3: #333333;
}

.dark {
  --bg-color: #070f2b;
  --text-color: #f7f7f7;
  --card-bg-color-1: #9290c3;
  --card-text-color-1: #f7f7f7;
  --card-bg-color-2: #535c91;
  --card-text-color-2: #f7f7f7;
  --card-bg-color-3: #1b1a55;
  --card-text-color-3: #f7f7f7;
}

* {
  font-family: "Nunito Sans", sans-serif;

  scrollbar-color: var(--card-text-color-3) transparent;
  scrollbar-width: thin;
}

body {
  padding: 0;
  margin: 0;
}
